* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 .main-content-wrapper {
  width: 100vw;
  height: 100vh;
}

.homepage {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.RichEditor-root {
  width: 100%;
  height: 100%;
}

.RichEditor-controls {
  text-align: center;
}

.RichEditor-styleButton {
  padding: 0.25rem
}
.RichEditor-activeButton {
  background-color: rgb(230, 228, 228);
}

.DraftEditor-editorContainer, .public-DraftEditorPlaceholder-inner {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}
.sentiment-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}


.sentiment-blob {
  width: 90%;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: white;
  box-shadow: 0 0 8px 1px rgb(219, 219, 219);
  border-radius: 6px;
  margin: 0.5rem;
}

.sentiment-blob > h3 {
  text-transform: capitalize;
  margin-bottom: 0.25rem;
}

.react-sweet-progress-symbol {
  font-weight: 800;
}




